@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FA7777;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    align-self: center;
    border-radius: 30px;
    height: 650px;
    width: 500px;
    color: #F95959;
    text-align: center;
    padding: 30px;
    box-shadow:
        0 4.5px 3.6px rgba(0, 0, 0, 0.024),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 30.1px 24.1px rgba(0, 0, 0, 0.046),
        0 100px 80px rgba(0, 0, 0, 0.07)
    ;
    position: relative;

}

.progress {
    width: 300px;
    height: 300px;
}

h2 {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 4rem;
    color: #414141;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FEDEDE;
    border: 0;
    margin: 40px 10px;
    font-size: 30px;
    font-weight: 500;
    color: #F95959;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: #FA7777;
    color: white;
    /* display: block; */
}

button:hover:after {
    content: "⋆";
    position: absolute;
    top: -48px;
    font-size: 80px;
    left: 54%;
    transform: translate(-54%, 0);
    color: #1CAD45;
}

.svgBtn {
    fill: #f95959;
}

.svgBtn:hover {
    fill: white;
}